*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.location{
    height: 15vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.location2{
    height: 15vh;
    display: flex;
    cursor: pointer;
}

.weather-icon{
    position:absolute;
    right: 40px;
}

.temperature{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    cursor: pointer;
    font-size: 30px;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.location cpan{
    font-size: 30px;
    text-align: left;
}

.degree-section h2{
    font-size: 40px;
}



.col {
    display: block;
}

.T-d{
    flex-direction: column;
}